{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
	<title>Timer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="../js/flipclock.js"></script>
	<script src="../js/knockout.js"></script>
	<script src="../js/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="../css/flipclock.css">
	<link rel="stylesheet" href="../css/colorbox.css" />
	<!-- Knockout foreach binding http://knockoutjs.com/documentation/foreach-binding.html -->
	<!-- Clock: http://flipclockjs.com/ -->
</head>
<body>
<p>Hello "{{ userName }}"</p>
<!-- <p>Hello "{{ eventList }}"</p> -->
	<button onclick="showCompleteBox()">Test show</button>
<!-- Event add/edit -->
	<div style="display:none">
		<div id="completedColorBox" class="allColorBox">
			<p>Completed!</p>
			<input type="text" id="completeEventName"/>
			<button class="saveColorbox" onclick="saveInColorBox()">Save Completed</button>

		</div>
	</div>

	<div class="clock" style="margin:2em;"></div>
	<div class="message"></div>
	<button onclick="setTimer(5)">testTimer</button>

<div id="confirmColorBox">

	<p>Do you want to save this tomato</p>
	<button onclick="saveTomato()">Save</button>
	<button>Cancel</button>
</div>



<div id="newEventDiv" style='margin-top:20px'>
	<input type="text" data-bind="textInput:newEventName" id="newEventName"></input>
	<button data-bind="click: addToDoEvent, enable:newEventName().length>0">Add</button>
</div>


<!-- <table> -->
	<!-- <tr> -->
		<!-- <td> -->
		
	<div id="toDoList" class="listDiv" style="height: 200px;overflow: auto">
		<ul data-bind="foreach: eventList" class="list" id="sortable">
		  <li class="ui-state-default">
		  	<div class="eventNameSpan" data-bind="text: name" style="float:left; width:10%"></div>
		  	<div><input class="eventCheck" type="checkbox" data-bind="value: name" style="float:left;width:10%"></input></div>
		  	<div><button data-bind="click: $parent.removeSelected" style="float:left">Remove</button></div>
		  </li>
		</ul>
	</div>

<!-- </td> -->


<!-- <input type="radio" value="Gamma" data-bind="checked: radioSelectedOptionValue" />Gamma -->

		<!-- <td> -->

			<div id="toDoList" class="listDiv" style="height: 200px;overflow: auto">
				<ul data-bind="foreach: completedList" class="list" id="sortable">
				  <li class="ui-state-default">
				  	<div data-bind="text: name" style="float:left"></div>
				  	<div class="completedTime" data-bind="text: time"></div>
				  </li>
				</ul>
			</div>
		<!-- </td> -->
	<!-- </tr> -->


<!-- </table> -->



</body>
<script type="text/javascript">

var workingEvent = "";
//set event list
var eventListInDB = {{eventList}};
var completedListInDB = {{completedList}};

window.vm = new AppViewModel();
window.vm.eventList(eventListInDB);
window.vm.completedList(completedListInDB);
ko.applyBindings(vm);

for (var i = 0; i<eventListInDB.length; i++) {
	console.log("event " + i + " = " + eventListInDB[i])
	console.log("name " + i + " = " + eventListInDB[i].name)
};
console.log("eventListInDB = " + eventListInDB)


//bind onclick for event list
$('.eventCheck').click(function(){
	$('.eventCheck').not(this).each(function(){
         $(this).attr('checked', false);
     });
	workingEvent = this.value
	console.log('value = ' + workingEvent)

})

function AppViewModel() {
    var self = this;
    self.newEventName= ko.observable("test");
    self.eventList = ko.observableArray([]);
    self.completedList = ko.observableArray([]);
    self.checkEvent = function(){
    	console.log("test check")
    }
    self.testFunction = function(){
    	console.log("test function 1")
    }

    self.addToDoEvent = function() {
    	var newEventName = $("#newEventName").val();
        saveNewEvent(newEventName);
        self.eventList.push({ name: newEventName });
        // $("#newEventName").val('');
        self.newEventName("");
    };

    self.addCompletedEvent = function(name,time) {
    	console.log('test addCompletedEvent')
        self.completedList.push({ name: name,time:time});
        // $("#newEventName").val('');
        self.newEventName("");
    };

    self.removeSelected = function(input) {
    	self.eventList.remove(input)
    	deleteNewEvent(input['name'])
    };

    self.selectEvent = function() {
		console.log("input = " + input)
    };
    console.log("size of newEventName = " + newEventName.length);
}


// ko.applyBindings(new AppViewModel());


	var clock;
	$(document).ready(function() {
//set color box
$.colorbox.settings.close = 'Exit';
// $("#eventCbox, #eventCbox1, #eventCbox1").colorbox({inline:true, width:"50%", overlayClose: false});
//color box done
	$("#sortable" ).sortable();
    $("#sortable" ).disableSelection();

	console.log("Test");
		clock = $('.clock').FlipClock(0, {
	        clockFace: 'MinuteCounter',
	        countdown: true,
	        callbacks: {
	        	stop: function() {
	        		// $('.message').html('The clock has stopped!');
	        		// completeTomato(workingEvent);
	        		showCompleteBox();
	        		window.vm.testFunction();
	        	}
	        }
	    });

	});

	function setTimer(time){
		 clock.setTime(time);
		 clock.start();
	}

	function completeTomato(completedTomato){
		$('#confirmColorBox').show();
		// alert("test")

		console.log("enter completeTomato");
		$.ajax({
		  type: "POST",
		  url: "../api/complete",
		  dataType: 'json',
		  data: JSON.stringify({ "eventName": completedTomato})
		})
		.done(function( data ) { // check why I use done
		    console.log( "event added");
		    window.vm.addCompletedEvent(data['name'],data['time']);
		    // $('.voteCount').text(data['story']['vote_count']);
		});
	}

	function saveNewEvent(newEventName){
		console.log("enter ajax test");
		$.ajax({
		  type: "POST",
		  url: "../api/save",
		  dataType: 'json',
		  data: JSON.stringify({ "eventName": newEventName})
		})
		.done(function( data ) { // check why I use done
		    console.log( "event added");
		    // $('.voteCount').text(data['story']['vote_count']);
		});
	}

	function deleteNewEvent(eventName){
		console.log("enter ajax test");
		console.log("deleted eventName = " + eventName);
		$.ajax({
		  type: "POST",
		  url: "../api/delete",
		  dataType: 'json',
		  data: JSON.stringify({ "eventName": eventName})
		})
		.done(function( data ) { // check why I use done
		    console.log( "event deleted");
		    // $('.voteCount').text(data['story']['vote_count']);
		});
	}

	function saveTomato(){
		console.log('test 2')
	}

	function showCompleteBox(){
		console.log("show completed color box");
		$.colorbox({inline:true, width:"50%",height:"50%", overlayClose: false, href:"#completedColorBox"});
		$("#completeEventName").val(workingEvent);
	}

	function saveInColorBox(){
		console.log("save completed event");
		var completeEventName = $('#completeEventName').val()
		completeTomato(completeEventName);
		$.colorbox.close();
	}
</script>
</html>
{% endautoescape %}


<style>
  .list { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  .list li span { position: absolute; margin-left: -1.3em; }

  .listDiv{
  	width: 550px;
  	background-color: #f4f4f4;
  	padding:10px;
  }

  .eventCheck{
  	margin-left:300px;
  }

  .completedTime{
  	margin-left:300px !important;
  }

/* .eventNameSpan{
 	display: inline-block;
 }*/
</style>
