{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
	<title>Timer</title>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<meta name="description" content="Centering grid content" />
		<meta name="keywords" content="javascript, dynamic, grid, layout, jquery plugin, flex layouts"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
	<script src="../js/flipclock.js"></script>
	<script src="../js/knockout.js"></script>
	<script src="../js/jquery.colorbox.js"></script>
	<script src="../js/freewall.js"></script>
	<script src="../js/centering.js"></script>
	<script src="../js/timer.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="../css/flipclock.css">
	<link rel="stylesheet" href="../css/colorbox.css" />
	<link rel="stylesheet" href="../css/freewall.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<!-- Knockout foreach binding http://knockoutjs.com/documentation/foreach-binding.html -->
	<!-- Clock: http://flipclockjs.com/ -->

	
</head>
<body>

	<div class='header'>
		<div class="clearfix">
			<div class="float-left">
				<h1><a class="headerLink">Time Manager</a></h1>
				<span class='target'>Help you enjoy your work.</span>
			</div>

			<div id='userInfor'>
				<ul class="headerList">
					<li>
						<span>Hello {{ userName }}</span>
					</li>
					<li>
						<span><a href={{logout}}>Logout</a></span>
					</li>
				</ul>							
			</div>

		</div>
	</div>
		
	<div id="freewall" class="free-wall">
		<div class="brick size23 clockBrick"> 
			<div id="clockBLock">
				<div class="clock" style="margin:2em;"></div>
		 		<div class="message"></div>
		 		<button class="float_right margin_right" id='stopClock' onclick="dropWork()" disabled="true">Stop</button>
		 		<button class="float_right margin_right" id='startClock' onclick="setTimer(5)">Start</button>
			</div>
		</div>	

		<div class="brick size43 todoBrick">
			<div>
				<div class="listBanner">
					<input type="text" data-bind="textInput:newEventName" id="newEventName" onkeypress="enterInput(event)"></input>
					<button data-bind="click: addToDoEvent, enable:newEventName().length>0">New Todo</button>
				</div>
			
				<div id="toDoList" class="listDiv">
					<ul data-bind="foreach: eventList" class="list" id="sortable">
					  <li class="ui-state-default">
					  	<div class="eventNameSpan float_left width10" data-bind="text: name"></div>
					  	<div><input class="eventCheck float_left width10" type="checkbox" data-bind="value: name" onclick="checkEvent(this)"></input></div>
					  	<button class="image_button" data-bind="click: $parent.removeSelected">
								<img src="css/images/remove.png" width="20" height="20" alt="submit" />
						</button>
					  </li>
					</ul>
				</div>

			</div>
		</div>

		<div class="brick size43 achieveBrick">
			<div>
				<div class="listBanner">
					<span>Today: <span id="todayAchieve"></span></span>
					<span>Total: <span id="totalAchieve"></span></span>
				</div>
				
				<div id="achieveList" class="listDiv">
					<ul data-bind="foreach: completedList" class="list" id="sortable">
					  <li class="ui-state-default">
					  	<div class="float_left" data-bind="text: name"></div>
					  	<div class="completedTime" data-bind="text: time"></div>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</div>


<!-- Completed Event Colorbox -->

	<div style="display:none">
		<div id="completedColorBox" class="allColorBox">
			<p class="black">Completed!</p>
			<span class="red">*<span>
			<input type="text" data-bind="textInput:completeEventName" id="completeEventName"></input>
			<button data-bind="click: saveInColorBox, enable:completeEventName().length>0">Add to Achievement</button>
		</div>

		<div id="dropEventColorBox" class="allColorBox">
			<p class="black">You are currently in working, do you really want to exit?</p>
			<button onclick="stopTimer()">Yes</button>
			<button onclick="continueWorking()">No</button>
		</div>
	</div>



	<script type="text/javascript">
		//set event list
		var eventListInDB = {{eventList}};
		var completedListInDB = {{completedList}};

		//initial knockout.js
		window.vm = new AppViewModel();
		window.vm.eventList(eventListInDB);
		window.vm.completedList(completedListInDB);
		ko.applyBindings(vm);
	</script>
</body>
</html>
{% endautoescape %}
